app_name=CARS API
debug=development

db_server=localhost
db_port=1433
db_name=cars_db
db_user=sa1
db_password=sa@1234

jwt_secret=super-secret-key-change-in-production
jwt_algorithm=HS256
jwt_expire_minutes=1440
